@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import "normalize/normalize.css";
@import "font-awesome/css/font-awesome.min.css";
@import "grid/grid.css";
@import "../js/venders/redactor/jsoneditor.min.css";
@import "../js/venders/jgrowl/jquery.jgrowl.css";
/*base classes*/
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.b-inline {
  display: inline-block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.justify {
  text-align: justify;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.cross {
  text-decoration: line-through;
}
.d-none {
  text-decoration: none;
}
.clear:before,
.clear:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.res {
  display: block;
  width: 100%;
  height: auto;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a:hover,
a:active,
a:link {
  outline: none;
}
* {
  outline: none;
  box-sizing: border-box;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.Roboto {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border: none;
  background: none;
  text-decoration: none;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: inline-block;
}
.btn.clearHistory {
  display: block;
  width: 100%;
  margin-top: 16px;
}
.btn--cube {
  min-width: 64px;
  padding: 10px 16px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.btn.save {
  background-color: #009688;
  color: #ffffff;
}
.btn.save:hover,
.btn.save:active {
  background-color: #00897B;
}
.btn:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.btn--round {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.btn--round.btn--add {
  position: relative;
}
.btn--round.btn--add:after {
  content: '';
  top: 11px;
  left: 10px;
  position: absolute;
  display: block;
  background-image: url(../images/sprites.png);
  background-position: -77px 0px;
  width: 36px;
  height: 36px;
}
.btn.leftBar__button:after {
  content: '';
  top: 11px;
  left: 10px;
  position: absolute;
  display: block;
}
html {
  font-size: 10px;
  background: #CFD8DC;
}
.jsoneditor {
  background-color: #ffffff;
}
body {
  font-size: 1.6rem;
  min-width: 1170px;
}
body,
html {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
.from {
  color: #ffffff;
  padding: 16px 0;
  display: block;
}
.from .inputField {
  position: relative;
  overflow: hidden;
  height: 72px;
}
.from .inputField .labelPlace {
  font-size: 1.2rem;
}
.from .selectField {
  padding: 0 16px;
}
.from .selectField select {
  width: 100%;
  padding: 8px;
  border: none;
  border: 1px solid #ffffff;
  background: #ECEFF1;
  color: #424242;
}
.from .roundField {
  padding: 0 16px;
}
.from .roundField label {
  display: inline-block;
  line-height: 75px;
}
.from .roundField button {
  display: inline-block;
  vertical-align: top;
  background: #EF6C00;
  float: right;
}
.from button {
  margin: 1rem 0;
}
.from label {
  font-size: 1.6rem;
  transition: all .5s;
  z-index: 1;
  display: block;
  position: relative;
}
.from input[type=text] {
  position: relative;
  font-size: 1.6rem;
  width: 100%;
  padding: 16px 0;
  background: none;
  display: block;
  border: none;
  z-index: 2;
  border-bottom: 1px solid #ffffff;
}
.from input[type=text].empty + label {
  top: -50%;
}
.from input[type=text]:focus + label,
.from input[type=text].set + label {
  font-size: 1.2rem;
  top: -94%;
}
/*----------------TOOLBAR----------------------------*/
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #7986CB;
}
.toolbar nav {
  font-size: 0;
}
.toolbar nav a {
  text-decoration: none;
  display: inline-block;
  padding: 16px;
  font-size: 1.6rem;
  color: #ffffff;
}
.toolbar nav a.active {
  box-shadow: 0px -5px 5px rgba(66, 66, 66, 0.4);
}
.toolbar nav a:nth-child(1).active,
.toolbar nav a:nth-child(1):hover {
  background-color: #5c6bc0;
}
.toolbar nav a:nth-child(2).active,
.toolbar nav a:nth-child(2):hover {
  background-color: #ab47bc;
}
.toolbar nav a:nth-child(3).active,
.toolbar nav a:nth-child(3):hover {
  background-color: #78909C;
}
.toolbar__notifications {
  padding: 8px 16px;
}
.toolbar__notifications ul {
  padding: 0;
  margin: 0;
}
.toolbar__notifications ul #reconnect {
  display: none;
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
}
.toolbar__notifications ul li {
  display: inline-block;
}
.toolbar__notifications ul li.wifi.connect {
  color: #9CCC65;
}
.toolbar__notifications ul li.wifi.disconnect {
  color: #EF5350;
}
.toolbar__notifications ul li.wifi.disconnect #reconnect {
  display: inline-block;
}
/*----------------CONTENT PAGE-----------------------*/
.content {
  width: 100%;
  padding: 75px 0 0 10px;
  transition: padding 1s;
  height: 100%;
  position: absolute;
}
.example-enter {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1.5s;
}
.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}
.example-leave.example-leave-active {
  opacity: 0;
}
/*----------------LEFT SIDEBAR-----------------------*/
#leftSidebar {
  position: fixed;
  z-index: 4;
  width: 290px;
  left: 0;
  top: 0;
  height: 100%;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d(-290px, 0, -100px);
          transform: translate3d(-290px, 0, -100px);
}
#leftSidebar .rotate {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 290px;
  height: 100%;
}
#leftSidebar.settings .rotate {
  -webkit-transform: translateZ(-148px) rotateY(-91deg);
          transform: translateZ(-148px) rotateY(-91deg);
}
#leftSidebar.sockets .rotate {
  left: -2px;
  position: relative;
  -webkit-transform: translateZ(-100px) rotateY(91deg);
          transform: translateZ(-100px) rotateY(91deg);
}
#leftSidebar.show {
  -webkit-transform: translate3d(0px, 0, -100px);
          transform: translate3d(0px, 0, -100px);
}
#leftSidebar.show + .content {
  padding: 75px 0 0 300px;
}
#leftSidebar.show .leftBar__button {
  background-color: #4FC3F7;
}
#leftSidebar.show .leftBar__button:after {
  background-image: url(../images/sprites.png);
  background-position: 0px -77px;
  width: 36px;
  height: 36px;
}
#leftSidebar .leftBar__button {
  background-color: #9CCC65;
}
#leftSidebar .leftBar__button:after {
  background-image: url(../images/sprites.png);
  background-position: -77px 0px;
  width: 36px;
  height: 36px;
}
#leftSidebar nav {
  font-size: 0;
}
#leftSidebar nav a {
  font-size: 1.6rem;
  padding: 16px;
  text-decoration: none;
  display: inline-block;
}
#leftSidebar .col {
  height: 100%;
  width: 290px;
  padding-top: 51px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
#leftSidebar .leftBar__button {
  position: absolute;
  top: calc(50% - 28px);
  right: -22px;
}
h2 {
  text-align: center;
}
.socketsList .connects__list {
  border-top: 1px solid #ffffff;
}
.socketsList .connects__list ul {
  padding: 0;
}
.socketsList .connects__list ul .inputField {
  padding: 0 16px;
  margin-bottom: 5px;
}
/*------------------------DEBUG LIST----------------------*/
#sockets {
  background-color: #78909C;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}
.socket {
  margin-bottom: 30px;
}
.socket .from {
  background: #78909C;
  padding: 16px;
}
.socket__toolbar {
  margin: 0;
  text-align: right;
}
.socket__toolbar li {
  display: inline-block;
}
.socket__close {
  cursor: pointer;
  margin-bottom: 5px;
  color: #BF360C;
}
.socket button {
  background: #BF360C;
}
.socket button:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: none;
}
.socket button.open {
  background: #43A047;
}
.areaField label {
  display: block;
  margin: 8px 0;
}
.areaField__editor {
  height: 250px;
}
#list {
  background-color: #5c6bc0;
  -webkit-transform: translateZ(145px);
          transform: translateZ(145px);
}
#list ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-height: 90%;
  overflow-y: auto;
}
#list ul::-webkit-scrollbar {
  width: .5rem;
}
#list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#list ul::-webkit-scrollbar-thumb {
  background-color: #4FC3F7;
  outline: 1px solid slategrey;
}
#list ul li {
  display: block;
  position: relative;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#list ul li:hover .delete {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
#list ul li .date {
  font-size: 1.2rem;
}
#list ul li .delete {
  position: absolute;
  cursor: pointer;
  background-color: #880E4F;
  padding: 10px 15px;
  height: 100%;
  right: 0;
  top: 0;
  color: #ffffff;
  box-shadow: inset 4px 0 6px rgba(66, 66, 66, 0.5);
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
#list ul li label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 16px 16px;
}
#list ul li label:before {
  content: "";
  display: inline-block;
  vertical-align: -4px;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-right: 10px;
}
#list ul li input {
  position: absolute;
  left: -9999px;
}
#list ul li input:checked + label {
  background-color: #424242;
}
#list ul li input:checked + label:after {
  content: '';
  position: absolute;
  display: block;
  left: 17px;
  top: 8px;
  background: url("../images/ic_done_white_24dp_1x.png") no-repeat;
  width: 24px;
  height: 24px;
}
#list ul li.empty {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}
#settings {
  background-color: #ab47bc;
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}
#settings .settingsForm {
  padding: 0 16px;
}
#editors hr {
  margin: 20px 0;
  display: block;
  border-color: #5c6bc0;
  border-top: none;
}
#editors .select__editors .editor {
  margin-bottom: 20px;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  transition: opacity, -webkit-transform .7s;
  transition: opacity, transform .7s;
  transition: opacity, transform .7s, -webkit-transform .7s;
}
#editors .select__editors .editor.show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#editors .select__editors .editor__toolbar ul {
  background-color: #424242;
}
.editor__toolbar ul {
  padding: 0;
  margin: 0;
  background-color: #689F38;
}
.editor__toolbar ul li {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  padding: 12px 16px;
}
.editor__toolbar ul li i {
  margin-right: 5px;
}
.jGrowl-notification.success {
  background: rgba(104, 159, 56, 0.7);
}
.jGrowl-notification.error {
  background: rgba(191, 54, 12, 0.7);
}
